input{
    border: 2px solid black;
}

#n1{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
#n2{
    margin-bottom: 10px;
    padding: 10px;
}

button{
    padding: 10px;
}

#resultado{
    padding: 5px;
}